/* Global reset of padding and margin */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Set the background-color of the entire page */
body {
    background-color: #dbd6d6;
    font-family: Arial, sans-serif;
}

/* Header Styles */
header {
    padding: 20px;
    background-color: #101315;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header Content Styles */
header h1 {
    font-size: 2em;
    padding: 20px;
}

header img {
    width: 205px; /* Adjust the size as needed */
    border-radius: 20%; /* Give round edges to photo */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav li {
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Main body Content Styles */
main {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

section {
    margin: 20px 0;
}

/* Centered Headers */
h2 {
    text-align: center;
    padding: 5px;
}

/* About Me Paragraph */
.aboutme {
    text-align: justify;
}

/* Work Items Styles */
.work-item {
    text-align: center;
    margin: 20px;
    flex: 1; /* Distribute items evenly within the container */
}

/* Work Items Container Styles */
.work-items-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
    justify-content: center; /* Center items horizontally */
}

.work-item img {
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Footer Styles */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #101315;
    color: #fff;
    padding: 10px;
}

/* Contact Section Styles */
#contact ul {
    list-style: none;
    display: flex;
    gap: 50px; /* Adjust the gap as needed */
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
    /* Slight adjustments for when the screen width is 768px or less */
    header img {
        width: 150px;
    }

    nav li {
        margin: 5px;
    }

    .work-item {
        margin: 10px;
    }
}
