/* Global reset of padding and margin */
* {
	box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Set the background-color of the entire page */
body {
	background-color: #dbd6d6;
    font-family: Arial, sans-serif;
}


header {
    padding: 20px;
    background-color: #101315;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

header h1 {
    font-size: 2em;
    padding: 20px;
}

header img {
    width: 205px; /* Adjust the size as needed */
    /* Give round edges to photo */
    border-radius: 20%; 
    justify-content: center;
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav li {
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

section {
    margin: 20px 0;
}

/* added h2 to center the headers in the body */
h2 {
    text-align: center;
    padding: 5px;
}

/* Adjusts the text in the about me paragraph */
.aboutme {
    text-align: justify;
}

/* Customize the appearance of your work items */
.work-item {
    text-align: center;
    margin: 20px;
    flex: 1; /* Distribute items evenly within the container */
}

/* Add flex properties to the container */
.work-items-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
    justify-content: center; /* Center items horizontally */
}


.work-item img {
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

footer {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
    background-color: #101315; /* Optional background color for the footer */
    color: #fff; /* Text color for the footer */
    padding: 10px; /* Optional padding for the footer */
}

#contact ul {
    list-style: none;
    display: flex;
    gap: 50px; /* Adjust the gap as needed */
}
